.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.action-button {
  background-color: #282c34;
  color:#fff;
  height: 30px;
  line-height: 30px;
  width: 100px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 90px);
  width: 100vw;
}

#repair-table-cont.card {
  background-color: darksalmon;
  position: absolute;
  min-height: 30vh;
  max-height: 30vh;
  width: 90vh;
  left: 100px;
}

.card-content.data-table {
  overflow: scroll;
  height: 20vh;
}

.tablerow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;
  height:40px;
  text-overflow: clip;
}

.tablerow>div {
  margin: 10px;
}

.descr {
  width: 12ch;
  overflow: hidden;
}

/*DOCK*/
.dock {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.dock>.action-button {
  height: 200px;
  width: 200px;
  filter: var(--drop-shadow);
  background-color: #fff;
  color:#282c34;
  line-height: 200px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
