.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.action-button {
  background-color: #282c34;
  color:#fff;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 90px);
  width: 100vw;
}

#repair-table-cont {
  background-color: darksalmon;
  position: absolute;
  left: 100px;
  bottom: 10px;
  overflow: scroll;
}

.tablerow {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;
  height:40px;
  text-overflow: clip;
}

.tablerow>div {
  margin: 10px;
}

.descr {
  width: 2ch;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
